<div class="passcode" [style.background]="primaryColor">
  <div [style.background]="primaryColor" class="common-header">
    <fa-icon icon="home" routerLink="/home" class="pull-right"></fa-icon>
    <fa-icon icon="chevron-left" routerLink="/home"></fa-icon>
    <ion-title> Verify</ion-title>
  </div>
  <div style="text-align: center;margin-top:30px;color:#fff" [style.background]="primaryColor">
    <h3>Enter Verification Code</h3>
    <p>Please enter valid checklist passcode</p>
  </div>
  <form class="form-container" [style.background]="primaryColor">
    <div>
      <ion-input name="a" [(ngModel)]="v[0]" type="tel" placeholder="0" readonly
                 maxlength="1">
      </ion-input>
    </div>

    <div>
      <ion-input name="b" [(ngModel)]="v[1]"  type="tel" placeholder="0" readonly
                 maxlength="1">
      </ion-input>
    </div>

    <div>
      <ion-input name="c"  [(ngModel)]="v[2]"  type="tel" placeholder="0" readonly
                 maxlength="1">
      </ion-input>
    </div>

    <div>
      <ion-input name="d"  [(ngModel)]="v[3]"  type="tel" placeholder="0" readonly
                 maxlength="1">
      </ion-input>
    </div>

  </form>
  <ion-grid class="numpad" [style.background]="primaryColor">
    <ion-row>
      <ion-col size="4" (click)="insertValue(1)">1</ion-col>
      <ion-col size="4" (click)="insertValue(2)">2</ion-col>
      <ion-col size="4" (click)="insertValue(3)">3</ion-col>
      <ion-col size="4" (click)="insertValue(4)">4</ion-col>
      <ion-col size="4" (click)="insertValue(5)">5</ion-col>
      <ion-col size="4" (click)="insertValue(6)">6</ion-col>
      <ion-col size="4" (click)="insertValue(7)">7</ion-col>
      <ion-col size="4" (click)="insertValue(8)">8</ion-col>
      <ion-col size="4" (click)="insertValue(9)">9</ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="4" (click)="insertValue(0)">0</ion-col>
      <ion-col size="4" (click)="insertValue(-1)"><fa-icon icon="backward"></fa-icon></ion-col>
    </ion-row>
  </ion-grid>

</div>
