//button{
//  background:#7e57ff;
//  color:#fff;
//  padding: 10px;
//  border-radius: 5px;
//
//}
//.toolbar-background,ion-header,ion-toolbar{
//  background: #4c8dff;
//}

.page-content {
  background:#151724 !important;
  height: 100vh;
  color:#fff;
}

ion-card,.item-native{
  background:#2E3447 !important;
  color:#fff;
}
