<div [style.background]="color" class="common-header">
  <fa-icon icon="home" routerLink="/home" class="pull-right"></fa-icon>
  <fa-icon icon="chevron-left" routerLink="/home"></fa-icon>
  <ion-title> Surveys</ion-title>

</div>
<div style="width: 100%;text-align: center">
  <img [src]="logo" class="header-img">
</div>
<div class="tabspace">
  <div class="">
    <nav class="tabs">

      <a  *ngFor="let list of finalCategories;let i=index" (click)="loadCategory(list._id)" [style.color]="list._id==selectedId?'#fff':color" [style.background]="selectedId==list._id?color:'#fff'">{{list.name}}</a>

    </nav>
  </div>

</div>
<div class="page-content">
  <div *ngIf="selectedId">
    <ion-card *ngFor="let item of mappedData[selectedId]">
      <ion-item>
        {{item.title}}
        <div class="item-note" slot="end">
          <button ion-button class="dark-button" [style.border-color]="color" [style.color]="color" (click)="selectItem(item)" [style.color]="color">Start</button>
        </div>
      </ion-item>

    </ion-card>
  </div>
  <div *ngIf="!selectedId" style="display: flex;height: 100%;align-items: center;justify-content: center;">
    Sorry no items found
  </div>

</div>
