<div [style.background]="color" class="common-header">
  <fa-icon icon="home" routerLink="/home" class="pull-right"></fa-icon>
  <fa-icon icon="chevron-left" routerLink="/home"></fa-icon>


</div>
<div class="logo-header">
    <img [src]="logo" style="width:200px !important;margin-left:auto;margin-right:auto" class="header-img" *ngIf="logo">
    <h1 [style.color]="color" *ngIf="!logo">{{tenantName}}</h1>
</div>
<div class="tabspace">
  <div class="">
    <nav class="tabs">

      <a  *ngFor="let list of finalCategories;let i=index" (click)="loadCategory(list._id)" [style.color]="list._id==selectedId?'#fff':color" [style.background]="selectedId==list._id?color:'#fff'">{{list.name}}</a>

    </nav>
  </div>

</div>
<div class="page-content">
  <br>
  <div *ngIf="selectedId">
    <ion-card class="list-item-card" (click)="selectItem(item)" *ngFor="let item of mappedData[selectedId]" [style.border-color]="color">
      <ion-card-content>
        <div>
              <span class="icon" [style.color]="color" >
                {{getCharIcon(item.title)}}
              </span>
          <span class="heading white-text">
             {{item.title}}
                </span>
        </div>
        <div>
               <span [style.background]="color" class="next-button">
                                                 <fa-icon icon="angle-right"></fa-icon>
                                             </span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!selectedId || (selectedId && mappedData[selectedId].length<1)" style="display: flex;height: 400px;align-items: center;justify-content: center;flex-direction:column">
    <img src="assets/Artwork.png">
    <br>
    <h2 style="color:#fff">No surveys were added</h2>

  </div>

</div>
