// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

$secondary-color:#1b84e7;
.primary-bg{
  background: $secondary-color !important;
  color:#fff !important;
}
.primary-text{
  color: $secondary-color
}

ion-footer{
  ion-grid{
    padding: 0px;
    text-align: center;
  }
  ion-col{
    padding: 10px;
    text-align: center;
  }
}

.star{
  color:$secondary-color;
  font-size: 10vw;
  margin-top: 15px;
}

.submit-button{
  width: 150px;
  font-size:25px;

  padding:10px;
  border-radius: 35px;
  color:#fff;
  border: 1px solid blue;
  width: 110px;
  font-size: 25px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  float:right;
  margin:10px;

}

.dark-button{
  background: #fff !important;
  border: 1px solid $secondary-color;
  width: 80px;
  color:$secondary-color !important;
}


button{
  background:#7e57ff;
  color:#fff;
  padding: 10px;
  border-radius: 5px;

}
.toolbar-background,ion-header,ion-toolbar{
  background: $secondary-color;
  color:#fff
}

.page-content {
  background: #f7f7f7 !important;
  height: 100%;
  overflow: auto;
}

.header-buttons{
  font-size:35px;
}

ion-title{
  //text-align: center;
  padding: 10px;
}


.tabspace{
  @import url('https://fonts.googleapis.com/css?family=Roboto');

  body{
    font-family: 'Roboto', sans-serif;
  }

  h2{
    margin:0px;
    text-transform: uppercase;
  }

  h6{
    margin:0px;
    color:#777;
  }

  .wrapper{
    text-align:center;
    margin-top:10px;
  }

  .tabs{

    font-size:15px;
    padding:0px;
    list-style:none;
    background:#fff;
    box-shadow:0px 5px 20px rgba(0,0,0,0.1);
    display:inline-block;
    //border-radius:50px;
    position:relative;
    width: 100%;
  }

  .tabs a{
    text-decoration:none;
    text-transform:uppercase;
    padding:10px 20px;
    display:inline-block;
    position:relative;
    z-index:1;
    transition-duration:0.6s;
  }

  .tabs a.active{
    color:#fff;
  }

  .tabs a i{
    margin-right:5px;
  }

  .tabs .selector{
    height:100%;
    display:inline-block;
    left:0px;
    top:0px;
    z-index:1;

    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background:$secondary-color;
  }
}
