.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}



.homepage{
  background:#151724;
  height: 100vh;
  overflow: auto;

  .header-right-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    h1{
      margin:0px;
    }
  }
  .main-text{
    font-weight:bold;
    font-size:18px;
  }

  .logo-card{
    padding: 15px;
    margin-top: -85px;
    margin-left:25px;
    margin-right:25px;
    border-radius: 5px !important;
  }

  .header{
    background: blue;
    height:210px;

    h1{
      font-size: 40px;
      text-transform: capitalize;
    }
    .main-header{
      color:#fff !important;
      padding:25px;
      padding-top:15px;
    }
    padding:5px;
  }
  .sub-header{
    background: #fff;
    padding-left:10px;
    padding-left: 20px;
    padding-right: 20px;
    p,h3{
      margin:0px;
    }
  }
  ion-card{
    background: #2E3447;
  }
  .circle{
    color:blue;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left{
    img{width: 30%}
    h4{

      font-size:23px;
      display: flex;
      align-items: center;
    }
  }
  .right{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row-reverse
  }
}
