<div class="homepage">
    <div class="header" [style.background]="color">
        <div class="main-header">
            <ion-grid>
                <ion-row>
                    <ion-col style="line-height: 10px"><h3 style="text-transform: capitalize;">{{name}}</h3>
                        <p style="margin-top:-5px">
                            <small>Area</small>
                        </p>
                    </ion-col>
                    <ion-col class="header-right-text"><h1 (click)="logout()">{{time}}</h1></ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <ion-card class="logo-card">
        <ion-card-content>
            <div class="logo-header">
                <img [src]="logo" style="width:200px !important;margin-left:auto;margin-right:auto" class="header-img" *ngIf="logo">
                <h1 [style.color]="color" *ngIf="!logo">{{tenantName}}</h1>
            </div>
        </ion-card-content>
    </ion-card>


    <div class="container" style="padding:25px;">
        <ion-card routerLink="/survey-categories" *ngIf="modules.indexOf('feedback')>-1" style="margin-top:-5px">
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col class="text-center" size="2">
                            <div [style.color]="color">
                                <fa-icon icon="thumbs-up" class="dashboard-icon"></fa-icon>
                            </div>
                        </ion-col>
                        <ion-col>
                            <span class="main-text white-text">Feedback</span>
                            <p class="white-text">Provide your valuable feedback of services</p>
                        </ion-col>
                        <ion-col size="2" class="right">
                            <span [style.background]="color" class="next-button">
                                <fa-icon icon="angle-right"></fa-icon>
                            </span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <ion-card routerLink="/alert-categories" *ngIf="modules.indexOf('alerts')>-1" style="margin-top:25px">
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col class="text-center" size="2">
                            <div [style.color]="color">
                                <fa-icon icon="bell" class="dashboard-icon"></fa-icon>
                            </div>
                        </ion-col>
                        <ion-col>
                            <span class="main-text white-text">Notify</span>
                            <p class="white-text">Inform a problem to responsible person via SMS/Email</p>
                        </ion-col>
                        <ion-col size="2" class="right">
                            <span [style.background]="color" class="next-button">
                                <fa-icon icon="angle-right"></fa-icon>
                            </span>
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card routerLink="/checklist" *ngIf="modules.indexOf('checklist')>-1" style="margin-top:25px">
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col class="text-center" size="2">
                            <div [style.color]="color">
                                <fa-icon icon="check-square" class="dashboard-icon"></fa-icon>
                            </div>
                        </ion-col>
                        <ion-col>
                            <span class="main-text white-text">Checklist</span>
                            <p class="white-text">Report your done completed task</p>
                        </ion-col>
                        <ion-col size="2" class="right">
                            <span [style.background]="color" class="next-button">
                                <fa-icon icon="angle-right"></fa-icon>
                            </span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <br>
        <br>
        <br>
    </div>


</div>
